.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  .todoItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.8em;
    word-break: break-all;
    .item {
      width: 100%;
      display: flex;
      gap: 1em;
      span {
        margin: auto 0;
      }
    }
    .delBtn {
      padding: 0.5em 1em;
      border: none;
      background-color: transparent;
      &:hover {
        color: #eee;
      }
    }
  }
}
